<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="path">C:/logs/djs.log</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} [%p] %t %c.%M:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${path}" filePattern="${path}-%d{MM-dd-yyyy}-%i">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>
